html{
	scroll-behavior: smooth;
}
body
{
	overflow-x: hidden;
}
.logo
{
	font-size: 35px;
	line-height: 20px;
}
#mainul>li>a
{
	padding-left: 50px !important;
/*	border: 2px solid black;*/
}
#HOME
{
	background-image: url('navbg.png');
	height: 580px;
	background-size: cover;
}
#hometext
{
	margin: 30% 0 0 4%; /*top, right, bottom, left*/ 
}
#ICONSECTION>p
{
	font-size: 18px; 
	line-height: 20px;
	word-spacing: 2px;
	color: #4F4F4F;
}
#h1sec1
{
	font-size: 38px;
}	
#sec1p{
	color: #4F4F4F;
	width: 92%;
}
#h1sec2
{
	font-size: 38px;
}
#sec2p{
	color: #4F4F4F;
	width: 92%;
}
#SECTION3
{
	height: 360px;
	background-image: url('sec3bg.png');
	background-size: cover;
	background-position: bottom;
	padding-top: 12%;
}
#SECTION3>h1
{
	font-size: 64px;
	text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
#h1sec4
{
	font-size: 38px;
}	
#sec4p{
	color: #4F4F4F;
	width: 92%;
}
.card-img-top
{
	height: 300px;
	width: 100% !important;
}
#a1{
	width: 30%;
	margin-left: -15%;
}
#a2{
	width: 24%;
}
#a3{
	width: 20%;
	margin-right: -10% !important;
}
#link
{
	width: 10%;
	font-size: 30px;
	p
}








