/* START NAVIGATION */
header
{
    background: #6EC1E4;;
}
#navlogo{
    /* border: 2px solid black; */
    height: 80px;
    width: 8%;
    margin-left: 6%;
}
#navlogo>img
{
    height: 80px;
    width: 100%;
}
#navul
{
    margin-left: 5%;
}
#navtext>span>a
{
    color: #ff6138;
    font-weight: 700;
    padding: 25px; 
    font-size: 20px;
}
#navtext>a
{
    color: black;
    font-weight: 700;
    padding: 25px;
    font-size: 20px;
}
#navbtn
{
    margin-right: 5%;
}

/* END NAVIGATION */