html{
	scroll-behavior: smooth;
}
body
{
	overflow-x: hidden;
}
#nav{
	background-image: url('bgimg.png');
}
#drpdwn
{
	background-image: url('headerimg.png');
	background-position: top;
	background-size: cover;
}
#HOME{
	background-image: url('headerimg.png');
	background-position: top;
}
#homea1
{
	font-size: 48px;
	font-family: Righteous;
	margin-top: 15% !important;
}
#homea2
{
	font-family: Righteous;
}
#homea3
{
	width: 80%;
	font-family: poppins;
	word-spacing: 2px;
}
#homea4
{
	color: darkorange;
}
#homea5
{
	padding-left: 14%!important;
}
#ABOUT{
	background: #F3F3F1;
}
#abouta6
{
	background-image: url('img.png');
	background-position: right;
}
#abouta8
{
	width: 80%;
	font-family: poppins;
	word-spacing: 1px;
}
#abouta9
{
	background: #f57913;
}
#abouta10
{
	color: darkorange;
}
#abouta7{
	font-size: 48px;
	font-family: Righteous;
	margin-top: 15% !important;
}
#CONTACT
{
	height: 620px;
	background: url('img2.jpg');
	background-size: cover;
	background-position: top;
}
#contact11
{
	font-size: 48px;
	font-family: Righteous;
	margin-left: 28%!important;
}
#contactform
{
	background: #f3f3f1;
	height: 450px;
	width: 80%;
	padding: 40px !important;
}
#contactbtn
{
	background: darkorange;
	border: none;
}
#SERVICES
{
	height: 500px;
	background-image: url('servicebg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}
#servicea13{
	font-size: 48px;
	font-family: Righteous;
	margin-top: 15% !important;
}
#servicea14
{
	width: 80%;
	font-family: poppins;
	word-spacing: 2px;
}
#serviceimg
{
	height: 460px;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 85%;
}
.card-title
{
	font-family: Righteous;
}
/*#testimonialimg
{
	
	height: 140px;
	width: 20%;;
  	border-radius: 50%;
}*/
.body-img
{
    width: 20%;
    height: 170px;
  	margin-top: -7% !important;
        }
        .body-img img {
			height: 150px;
			width: 100%; 
			border: 10px solid red;
			border-radius: 50%;
		}
